.swap-circle-left

  &-enter-active
    transition: opacity .3s .3s, transform .3s .3s, filter .3s .3s

  &-leave-active
    transition: opacity .3s, transform .3s, filter .3s

  &-enter
    opacity: 0 !important
    transform: translateX(50%) !important
    filter: blur(5px)

  &-leave-to
    opacity: 0 !important
    transform: translateX(-50%) !important
    filter: blur(5px)
